body {background-color: rgb(240, 248, 255);}

.weather-app {
    background-color: white;
    max-width: 600px;
    padding: 30px;
    margin: 20px auto;
    box-shadow: 0 5px 20px rgb(182, 177, 210);
    border-radius: 20px;
    font-family: 'Nanum Myeongjo', serif;
}
.search-form {
    margin: 0 auto;
}
#search-input {
    background-color: rgb(240, 248, 255);
    color: rgb(193, 187, 187);
    padding: 10px;
    border: solid 2px rgb(136, 186, 232);
    border-radius: 5px;
    width: 50%;
    text-align: center;
    margin-left: 20%;
}
#search-button {
    background-color: rgb(136, 186, 232);
    color: white;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    padding: 12px 18px;
}
.current-weather {
    display: flex;
    justify-content: space-around;
}
#city {
    font-size: 48px;
    margin-left: 10px;
   
}
.weather-description {
    font-size: 18px;
    margin-left: 10px;
    
}
#description{
    color:rgb(227, 28, 134)
}
.current-weather-details {
    font-size: 15px;
    margin:0 0 30px 10px;
}
#current-humidity, #current-windspeed {
    color: rgb(227, 28, 134);
    font-weight: bolder;
}
.temperature-container {
    display: flex; 
    justify-content: space-around;
}
#current-temperature {
    font-size: 70px;
    margin-top: 115px;  
}
.temperature-unit {
    font-size: 16px;
    margin-top: 125px;
}
.temperature-icon {
    margin-top: 100px;
    
}
.weather-forecast {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
}
.weather-forecast-icon {
    width: 75px;
}
.weather-forecast-temperatures{
    display: flex;
    justify-content: center;
    padding-left: 10px;
}
.weather-forecast-temperature-min {
 color: rgb(227, 28, 134);  
}

footer {
    font-size: 12px;
    padding: 20px 5px 8px;
    text-align: center;
}
a {
    color: rgb(136, 186, 232);
}